<a href="https://colab.research.google.com/github/polivio/AM/blob/master/KNN_KDD_BR_testes3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://www.kaggle.com/c/kddbr-2019/data

# KNN KDD BR -Polivio
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [0]:
# preprocessing # blob # raw
train = pd.read_csv('https://github.com/polivio/PEE/raw/master/Training_grouped.csv')
test = pd.read_csv('https://github.com/polivio/PEE/raw/master/Test_grouped.csv')

In [0]:
# separando o id, features e label para preprocessamento
idTrain = train.loc[:,['traininglabelorder.scatterplotID']]
features = train.loc[:,['qtde.ponto', 
       'mean.signalX', 'sd.signalX', 'kurtosis.signalX',
      'mean.signalY', 'sd.signalY', 
       'kurtosis.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette' ]]

labelTrain = train.loc[:,['traininglabelorder.score']]

In [56]:
idVal = test.loc[:,['testorder.ID']]
featuresval = test.loc[:,[ 'qtde.ponto', 
       'mean.signalX', 'sd.signalX', 'kurtosis.signalX',
      'mean.signalY', 'sd.signalY', 
       'kurtosis.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette']]
featuresval.head(20)

    qtde.ponto  mean.signalX   sd.signalX  ...     XY      Y  mean.silhouette
0          384   2929.713542   983.267187  ...  167.0   94.0         0.916505
1          384   1409.484375   525.140811  ...  189.0   99.0         0.891220
2          382   2031.329843  2023.975889  ...   73.0  254.0         0.947689
3          370   2900.078378  1278.838337  ...   10.0  185.0         0.954000
4          384   2567.598958  1090.155787  ...  182.0   92.0         0.829513
5          384   4270.281250  2030.633675  ...  221.0  124.0         0.419574
6          373   2978.777480  1572.195225  ...   10.0   91.0         0.896077
7          384    757.755208   156.297509  ...  361.0   10.0         0.858830
8          112   1365.607143   945.558059  ...   36.0   72.0         0.896741
9          212   1061.561321   563.184851  ...   64.0  120.0         0.953351
10         375   2603.053333  1166.844003  ...   20.0  216.0         0.952802
11         384    468.973958   218.145984  ...   27.0  188.0         0.897665
12         371   1478.663073   302.887567  ...    NaN   47.0         0.952402
13         309   1458.689320   908.655679  ...    2.0  169.0         0.949457
14         384   2747.588542  1401.570413  ...  156.0   77.0         0.890903
15         384   1796.411458  2168.301656  ...   18.0  248.0         0.894931
16         384    444.885417   328.795495  ...    4.0  368.0         0.926698
17         384   2706.635417  1582.636534  ...  114.0   81.0         0.736624
18         384   2722.815104  1612.263853  ...   11.0  181.0         0.921240
19         380   2071.052632  1101.308870  ...  192.0   79.0         0.900564

[20 rows x 12 columns]

In [0]:

# change the dtype to 'float64' 
features = features.astype('float64')
featuresval = featuresval.astype('float64')

# Substituição pela média para os clusters com NA
features['X'].fillna(features['X'].mean(),inplace=True)
features['XY'].fillna(features['XY'].mean(),inplace=True)
features['Y'].fillna(features['XY'].mean(),inplace=True)



# Substituição pela média para os clusters com NA
featuresval['X'].fillna(featuresval['X'].mean(),inplace=True)
featuresval['XY'].fillna(featuresval['XY'].mean(),inplace=True)
featuresval['Y'].fillna(featuresval['XY'].mean(),inplace=True)

In [58]:
features.head()

   qtde.ponto  mean.signalX   sd.signalX  ...     XY           Y  mean.silhouette
0       365.0   3164.835616   804.757625  ...  269.0   80.421065         0.840146
1       384.0   1737.776042   944.798845  ...   49.0  249.000000         0.964427
2       373.0   1139.621984   866.460225  ...    7.0  206.000000         0.936210
3       384.0   3609.692708  1808.877599  ...  190.0   90.000000         0.896070
4       383.0   1867.203655   938.232021  ...    2.0  201.000000         0.952810

[5 rows x 12 columns]

In [59]:

from sklearn.preprocessing import MinMaxScaler

##  normalização antes
scaler = MinMaxScaler() 

# Normalizando dados de validação para serem usados no Kaggle
print(scaler.fit(featuresval))

featuresval = scaler.transform(featuresval)

print(featuresval)

MinMaxScaler(copy=True, feature_range=(0, 1))
[[1.         0.35069271 0.23304664 ... 0.43799472 0.24538259 0.95914333]
 [1.         0.1887101  0.1238514  ... 0.49604222 0.2585752  0.94168467]
 [0.99468085 0.25496863 0.48110143 ... 0.18997361 0.66754617 0.98067533]
 ...
 [0.99468085 0.4790201  0.57176292 ... 0.11609499 0.3298153  0.9492964 ]
 [1.         0.15521992 0.13268455 ... 0.02902375 0.49076517 0.98217308]
 [0.98670213 0.40946428 0.43198796 ... 0.55145119 0.2348285  0.94488508]]

In [60]:
# Normalizando dados de treinamento = teste
print(scaler.fit(features))

features = scaler.transform(features)
print(features)

MinMaxScaler(copy=True, feature_range=(0, 1))
[[0.94946809 0.35852097 0.17142092 ... 0.70712401 0.20955426 0.91009513]
 [1.         0.21587607 0.20141397 ... 0.12664908 0.65435356 0.99230262]
 [0.97074468 0.15608626 0.18463595 ... 0.01583113 0.5408971  0.97363791]
 ...
 [0.76861702 0.16267414 0.09241627 ... 0.29551451 0.10026385 0.97808368]
 [0.99468085 0.31879101 0.25879716 ... 0.38258575 0.49868074 0.91305659]
 [0.19946809 0.08773404 0.05210636 ... 0.20955426 0.20580475 0.99112255]]

In [0]:
# Já feito no estágio anterior
##X = np.array(train.drop(['traininglabelorder.score'], 1))

##y = np.array(train['traininglabelorder.score'])

In [0]:
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
# separando o array em para 25% para teste com os dados de treinamento.

X_train, X_test, y_train, y_test = train_test_split(features, labelTrain, test_size=0.25, random_state=10)

In [0]:
# classsifiers KNN

clf = neighbors.KNeighborsRegressor(n_neighbors=4)
clf.fit(X_train , y_train)

# Validando com 25 % dos dados de treinametno.... E após fazer a validação com os dados de teste (20.000), atenção normalizar antes ...
y_pred = clf.predict(X_test)

In [63]:


accuracy = clf.score(X_test, y_test)

print(accuracy)

0.48201400851719145

In [64]:
rmse = sqrt(mean_squared_error(y_pred, y_test))
print (rmse)

0.242298889493992

In [65]:
#Fazer testes no site do kaggle

Xval = featuresval
print(Xval)
# Estes dados associar ao Teste - ScatterPlotId  & este score e confirmar no site...
y_predVal = clf.predict(Xval)
print(y_predVal)

[[1.         0.35069271 0.23304664 ... 0.43799472 0.24538259 0.95914333]
 [1.         0.1887101  0.1238514  ... 0.49604222 0.2585752  0.94168467]
 [0.99468085 0.25496863 0.48110143 ... 0.18997361 0.66754617 0.98067533]
 ...
 [0.99468085 0.4790201  0.57176292 ... 0.11609499 0.3298153  0.9492964 ]
 [1.         0.15521992 0.13268455 ... 0.02902375 0.49076517 0.98217308]
 [0.98670213 0.40946428 0.43198796 ... 0.55145119 0.2348285  0.94488508]]
[[0.74665188]
 [0.78771325]
 [0.90561481]
 ...
 [0.77932236]
 [0.90898727]
 [0.34416327]]

In [53]:
# Dummy
a = np.array([[1, 2, 3], [4, 5, 6]])
 
newArray = np.append(a, [[50, 60, 70]], axis = 0)
 
print(newArray)

[[ 1  2  3]
 [ 4  5  6]
 [50 60 70]]

In [66]:
# Associar o teste ScatterplotID com a predição
a = np.array(idVal)
b= y_predVal

submission = np.append(a,b, axis = 0)
print(submission)

[[ 1.        ]
 [22.        ]
 [27.        ]
 ...
 [ 0.77932236]
 [ 0.90898727]
 [ 0.34416327]]

In [67]:

submission.to_csv(index=False)

AttributeError: ignored

In [71]:
# Dummy
# Creating a 2 dimensional numpy array
data = np.array([[5.8, 2.8], [6.0, 2.2]])
print(data)

# Creating pandas dataframe from numpy array
dataset = pd.DataFrame({'ID': data[0, :], 'Score': data[1, :]})
print(dataset)
 
dataset.to_csv(index=False)

[[5.8 2.8]
 [6.  2.2]]
    ID  Score
0  5.8    6.0
1  2.8    2.2

'ID,Score\n5.8,6.0\n2.8,2.2\n'

In [72]:
from google.colab import files
files.download("dataset.csv")

FileNotFoundError: ignored

## Testes com Cross-validation, k = 5

In [2]:
# Normalização Min Max  https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html
#https://www.kaggle.com/dansbecker/cross-validation

[[-1, 2], [-0.5, 6], [0, 10], [1, 18]]

In [0]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(my_pipeline, X, y, scoring='neg_mean_absolute_error')
print(scores)